.card {
    width: 320px;
    margin: 10px 20px;
}

.card-parent-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px) {
    .card-parent-parent {
        align-items: center;
    }
    .card-parent {
        flex-flow: row wrap;
        width: 80vh;
        align-items: center;
    }
}
